#post-instagram1 {
    padding: 30px;
}

#post-instagram2 {
    padding: 30px;
}

#post-instagram3 {
    padding: 30px;
}

img-box-ul {

}

figure {
    margin: 0;
}

#post-instagram1 .article-entry {
    padding-right: 0;
}

#post-instagram2 .article-entry {
    padding-right: 0;
}

#post-instagram3 .article-entry {
    padding-right: 0;
}

.instagram1 {
    position: relative;
    min-height: 500px;
}

.instagram2 {
    position: relative;
    min-height: 500px;
}

.instagram3 {
    position: relative;
    min-height: 500px;
}

.instagram1 img {
    width: 100%;
}

.instagram2 img {
    width: 100%;
}

.instagram3 img {
    width: 100%;
}

.posts-expand .post-body img {
    padding: 0;
    border: 0;
}

.instagram1 .year {
    font-size: 16px;
}

.instagram2 .year {
    font-size: 16px;
}

.instagram3 .year {
    font-size: 16px;
}

.instagram1 .open-ins {
    padding: 10px 0;
    color: #cdcdcd;
}

.instagram2 .open-ins {
    padding: 10px 0;
    color: #cdcdcd;
}

.instagram3 .open-ins {
    padding: 10px 0;
    color: #cdcdcd;
}

.instagram1 .open-ins:hover {
    color: #657b83;
}

.instagram2 .open-ins:hover {
    color: #657b83;
}

.instagram3 .open-ins:hover {
    color: #657b83;
}

.instagram1 .year {
    display: inline;
}

.instagram2 .year {
    display: inline;
}

.instagram3 .year {
    display: inline;
}

.instagram1 .thumb {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    background: #ededed;
    outline: 1px solid #ddd;
}

.instagram2 .thumb {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    background: #ededed;
    outline: 1px solid #ddd;
}

.instagram3 .thumb {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    background: #ededed;
    outline: 1px solid #ddd;
}

.instagram1 .thumb a {
    position: relative;
}

.instagram2 .thumb a {
    position: relative;
}

.instagram3 .thumb a {
    position: relative;
}

.instagram1 .album h1 em {
    font-style: normal;
    font-size: 14px;
    margin-left: 10px;
}

.instagram2 .album h1 em {
    font-style: normal;
    font-size: 14px;
    margin-left: 10px;
}

.instagram3 .album h1 em {
    font-style: normal;
    font-size: 14px;
    margin-left: 10px;
}

.instagram1 .album ul {
    margin-left: -39px;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    text-align: left;
}

.instagram2 .album ul {
    margin-left: -39px;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    text-align: left;
}

.instagram3 .album ul {
    margin-left: -39px;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100%;
    text-align: left;
}

.instagram1 .album li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: -10px;
    height: 0;
    width: 25%;
    position: relative;
    padding-bottom: 25%;
}

.instagram2 .album li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: -10px;
    height: 0;
    width: 25%;
    position: relative;
    padding-bottom: 25%;
}

.instagram3 .album li {
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: -10px;
    height: 0;
    width: 25%;
    position: relative;
    padding-bottom: 25%;
}

.instagram1 .album li:before {
    display: none;
}

.instagram2 .album li:before {
    display: none;
}

.instagram3 .album li:before {
    display: none;
}

.instagram1 .album div.img-box {
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
}

.instagram2 .album div.img-box {
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
}

.instagram3 .album div.img-box {
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 1px rgba(255, 255, 255, 0.1);
}

.instagram1 .album div.img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.instagram2 .album div.img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.instagram3 .album div.img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.instagram1 .album div.img-box .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin: -5px;
    padding: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.15s ease-out 0.1s;
    -moz-transition: all 0.15s ease-out 0.1s;
    -o-transition: all 0.15s ease-out 0.1s;
    transition: all 0.15s ease-out 0.1s;
    opacity: 0.2;
    cursor: pointer;
    display: block;
    z-index: 3;
}

.instagram2 .album div.img-box .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin: -5px;
    padding: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.15s ease-out 0.1s;
    -moz-transition: all 0.15s ease-out 0.1s;
    -o-transition: all 0.15s ease-out 0.1s;
    transition: all 0.15s ease-out 0.1s;
    opacity: 0.2;
    cursor: pointer;
    display: block;
    z-index: 3;
}

.instagram3 .album div.img-box .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    margin: -5px;
    padding: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.15s ease-out 0.1s;
    -moz-transition: all 0.15s ease-out 0.1s;
    -o-transition: all 0.15s ease-out 0.1s;
    transition: all 0.15s ease-out 0.1s;
    opacity: 0.2;
    cursor: pointer;
    display: block;
    z-index: 3;
}

.instagram1 .album div.img-box .icon {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    color: #999;
    z-index: 1;
}

.instagram2 .album div.img-box .icon {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    color: #999;
    z-index: 1;
}

.instagram3 .album div.img-box .icon {
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
    color: #999;
    z-index: 1;
}

.instagram1 .album div.img-box .img-bg:hover {
    opacity: 0;
}

.instagram2 .album div.img-box .img-bg:hover {
    opacity: 0;
}

.instagram3 .album div.img-box .img-bg:hover {
    opacity: 0;
}

.photos-btn-wrap {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.photos-btn {
    font-size: 16px;
    color: #333;
    margin-bottom: -4px;
    padding: 5px 8px 3px;
}

.photos-btn.active {
    color: #08c;
    border: 1px solid #e5e5e5;
    border-bottom: 5px solid #fff;
}

@media screen and (max-width: 600px) {
    .instagram1 .thumb {
        width: 50%;
        padding-bottom: 50%;
    }

    .instagram1 .album li {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        text-align: center;
    }

    .instagram1 .album div.img-box {
        margin: 0;
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 600px) {
    .instagram1 .thumb {
        width: 50%;
        padding-bottom: 50%;
    }

    .instagram2 .thumb {
        width: 50%;
        padding-bottom: 50%;
    }

    .instagram3 .thumb {
        width: 50%;
        padding-bottom: 50%;
    }

    .instagram1 .album li {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        text-align: center;
    }

    .instagram2 .album li {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        text-align: center;
    }

    .instagram3 .album li {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        text-align: center;
    }

    .instagram1 .album div.img-box {
        margin: 0;
        width: 90%;
        height: 90%;
    }

    .instagram2 .album div.img-box {
        margin: 0;
        width: 90%;
        height: 90%;
    }

    .instagram3 .album div.img-box {
        margin: 0;
        width: 90%;
        height: 90%;
    }
}
